[Unit]
Description=AMiner log data mining server
Documentation=man:aminer(1)

[Service]
Type=simple
ExecStart=/usr/lib/logdata-anomaly-miner/aminer --Config /etc/aminer/config.yml
KillMode=control-group
# Write everything to /dev/null: if AMiner is misconfigured, it
# may detect anonamies in its own log data, thus creating a logging
# loop. You may prefer logging to journal only, which needs journald
# to be reconfigured with "ForwardToSyslog=false".
StandardOutput=null

[Install]
WantedBy=multi-user.target
