language: python
dist: bionic

before_install:
  - git clone --depth 1 --branch development https://github.com/ait-aecid/aminer-ansible.git roles/aminer
  - cp $PWD/source/root/etc/aminer/conf-available/generic/ApacheAccessModel.py $PWD/source/root/etc/aminer/conf-enabled/ApacheAccessModel.py
  - ln -s $PWD/source/root/usr/lib/logdata-anomaly-miner/aminer $PWD/aecid-testsuite/aminer
  - ln -s $PWD/source/root/etc/aminer/template_config.py $PWD/aecid-testsuite/demo/AMiner/template_config.py
  - sed -e "s+{{SOURCEDIR}}+$PWD+g" .playbook.yml > playbook.yml

install:
  - sudo apt-get update -y
  - sudo apt-get install -y ansible
  - sudo ansible-playbook -e "aminer_pythonpath=/usr/lib/python3.6/site-packages" playbook.yml
  - sudo echo "hello2"
  - sudo apt-get install -y exim4 procps cpulimit mailutils
  - sudo pip3 install coverage
  - cd aecid-testsuite
  - sudo chmod +x runUnittests.sh
  - sudo chmod +x runAMinerDemo.sh
  - sudo chmod +x runAMinerIntegrationTest.sh
  - sudo chmod +x runCoverageTests.sh

script:
  - ./runUnittests.sh
  - ./runAMinerDemo.sh demo/AMiner/demo-config.py
  - ./runAMinerDemo.sh demo/AMiner/jsonConverterHandler-demo-config.py
  - ./runAMinerDemo.sh demo/AMiner/template_config.py
  - ./runAMinerDemo.sh demo/AMiner/demo-config.yml
  - ./runAMinerIntegrationTest.sh aminerIntegrationTest.sh config.py
  - ./runAMinerIntegrationTest.sh aminerIntegrationTest2.sh config21.py config22.py
  - ./runCoverageTests.sh

after_script:
  - cd ..
  - rm $PWD/aecid-testsuite/aminer
  - rm $PWD/source/root/usr/lib/logdata-anomaly-miner/ApacheAccessModel.py
  - rm $PWD/aecid-testsuite/demo/AMiner/template_config.py
