language: python
python:
  - '3.7' 
dist: bionic

before_install:
  - sudo apt-get update -y
  - sudo apt-get install -y exim4 procps cpulimit ansible mailutils python3-coverage
  - git clone https://github.com/ait-aecid/aminer-ansible.git roles/aminer
  - ln -s $PWD/source/root/usr/lib/logdata-anomaly-miner/aminer $PWD/aecid-testsuite/aminer
  - sed -e "s+{{SOURCEDIR}}+$PWD+g" .playbook.yml > playbook.yml

install:
  - pip install coverage
  - sudo ansible-playbook playbook.yml
  - cd aecid-testsuite
  - sudo chmod +x runUnittests.sh
  - sudo chmod +x runAMinerDemo.sh
  - sudo chmod +x runAMinerIntegrationTest.sh
  - sudo chmod +x runCoverageTests.sh

script:
  #- ./runUnittests.sh
  #- ./runAMinerDemo.sh demo/AMiner/demo-config.py
  #- ./runAMinerDemo.sh demo/AMiner/jsonConverterHandler-demo-config.py
  - echo localhost | sudo tee /etc/hostname
  - ./runAMinerIntegrationTest.sh aminerIntegrationTest.sh config.py
  - ./runAMinerIntegrationTest.sh aminerIntegrationTest2.sh config21.py config22.py
  - ./runCoverageTests.sh

after_script:
  - cd ..
  - rm $PWD/aecid-testsuite/aminer
