language: python
python:
  - '3.7' 
dist: bionic

before_install:
  - sudo apt-get update -y
  - sudo apt-get install -y exim4 procps cpulimit ansible mailutils python3-pip python3-kafka
  - git clone https://github.com/ait-aecid/aminer-ansible.git roles/aminer
  - cp $PWD/source/root/etc/aminer/conf-available/generic/ApacheAccessModel.py $PWD/source/root/etc/aminer/conf-enabled/ApacheAccessModel.py
  - ln -s $PWD/source/root/usr/lib/logdata-anomaly-miner/aminer $PWD/aecid-testsuite/aminer
  - ln -s $PWD/source/root/etc/aminer/template_config.py $PWD/aecid-testsuite/demo/AMiner/template_config.py
  - sed -e "s+{{SOURCEDIR}}+$PWD+g" .playbook.yml > playbook.yml

install:
  - sudo -H -u root pip3 install coverage
  - sudo -H -u root pip3 install kafka
  - pip3 install kafka
  - sudo ansible-playbook playbook.yml
  #- sudo ln -s /usr/lib/python3/dist-packages/kafka $PWD/source/root/etc/aminer/conf-enabled/kafka
  - sudo ln -s /usr/lib/python3/dist-packages/kafka /etc/aminer/conf-enabled/kafka
  - cd aecid-testsuite
  - sudo chmod +x runUnittests.sh
  - sudo chmod +x runAMinerDemo.sh
  - sudo chmod +x runAMinerIntegrationTest.sh
  - sudo chmod +x runCoverageTests.sh

script:
  #- ./runUnittests.sh
  - ./runAMinerDemo.sh demo/AMiner/demo-config.py
  - ./runAMinerDemo.sh demo/AMiner/jsonConverterHandler-demo-config.py
  - ./runAMinerDemo.sh demo/AMiner/template_config.py
  - ./runAMinerIntegrationTest.sh aminerIntegrationTest.sh config.py
  - ./runAMinerIntegrationTest.sh aminerIntegrationTest2.sh config21.py config22.py
  - ./runCoverageTests.sh

after_script:
  - cd ..
  - rm $PWD/aecid-testsuite/aminer
  - rm $PWD/source/root/usr/lib/logdata-anomaly-miner/ApacheAccessModel.py
  - rm $PWD/aecid-testsuite/demo/AMiner/template_config.py
