orjson
pyzmq
cerberus
kafka-python
patsy
statsmodels==0.14.0 # temporary fix to ImportError: cannot import name '_lazywhere' from 'scipy._lib._util' (/usr/lib/logdata-anomaly-miner/.venv/lib/python3.12/site-packages/scipy/_lib/_util.py)
importlib-metadata
tz
scipy==1.11.3 # temporary fix to ImportError: cannot import name '_lazywhere' from 'scipy._lib._util' (/usr/lib/logdata-anomaly-miner/.venv/lib/python3.12/site-packages/scipy/_lib/_util.py)
numpy
setuptools
six
kafka
urllib3
defusedxml
PyYAML
pylibacl
mypy
pytz
